/*.entertainment-inputs {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*}*/

/*#name, #eventTime, #location, #additionalInfo, .formButtons {*/
/*    margin-top: 1%;*/
/*    margin-bottom: 1%;*/
/*    margin-left: 30%;*/
/*    margin-right: 30%;*/
/*}*/