.footer {
    min-height: 100px;
    background-color: #414141;
    margin-bottom: 15px;
    color: whitesmoke;
    padding: 2em;
}

.footer a {
    color: white !important;
    text-decoration: none;
}