.nav-link.active {
    background-color: #1717ce !important;
    color: white !important;
}

.navbar-nav {
    padding-left: 15%;
}

.nav-item {
    text-align: center;
}
.nav-link {
    width: 100%;
    height: 60px;
    text-align: center;
}