body {
    background-color: #f5f5f5;
}

.bodyCls {
    max-width: 10%;
    background: black !important;
}

.mainPageText {
    background-color: #3030c4;
    color: whitesmoke !important;
    padding: 20px;
}

.row.equal-height > .col {
    display: flex;
    flex-direction: column;
}

.row.equal-height > .col > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.occurredEntertainmentsHeader, .futureEntertainmentsHeader {
    height: 60px;
    background-color: #1717ce;
    margin: 10px;
    color: whitesmoke;
}

.occurredEntertainments, .futureEntertainments {
    /*border: 1px solid;*/
    /*min-height: 170px;*/
    /*max-height: 170px;*/

    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 600px; /
}

#addEntertainment, .participants {
    text-decoration: none;
    color: #414141;
}

.delete-button img {
    height: 20px;
    width: 20px;
}

.delete-button :hover {
    cursor: pointer;
}