.navPresentation {
    background-color: #3030c4;
    color: whitesmoke !important;
    height: 100px;
    margin: 0;
    padding: 0;
    max-height: 100px;
}

.image {

}

.navigation, .navigation * {
    max-height: 100px;
    overflow: hidden;
}

.navigation img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
    padding: 0;
    margin: 0;
}