<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${projectName}"></title>

    <!--  import Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!--  Импорт Flatpickr  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--  custom CSS  -->
    <link rel="stylesheet" th:href="@{/header.css}" />
    <link rel="stylesheet" th:href="@{/mainStyle.css}" />
    <link rel="stylesheet" th:href="@{/footer.css}" />
    <link rel="stylesheet" th:href="@{/navigation.css}" />
    <link rel="stylesheet" th:href="@{/entertainment.css}" />

    <!--  custom JS  -->
    <script th:src="@{/init.js}" defer></script>
    <script th:src="@{/utils.js}" defer></script>

</head>
<body class="container">
<!--  Header fragment  -->
<div th:fragment="header">    <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Лого слева -->
        <a class="navbar-brand" href="/avaleht">
            <img th:src="@{/logo.svg}" alt="Logo" width="100%" height="100%">
        </a>

        <div class="navbar navbar-expand-lg bg-body-tertiary container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a class="nav-link active d-flex align-items-center justify-content-center" href="/avaleht" id="avalehtNavLink" data-path="/avaleht" ></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link d-flex align-items-center justify-content-center" href="/urituse_lisamine" id="urituseLisamine" data-path="/urituse_lisamine" ></a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand" href="/avaleht">
            <img th:src="@{/symbol.svg}" alt="symbol" width="100%" height="100%">
        </a>
    </div>
</nav></div>

<!--  Navigation fragment  -->
<div th:fragment="navigation">
    <div class="container navigation">
        <div class="container text-center">
            <div class="row text-start gx-0">
                <div class="col-4">
                    <div class="navPresentation d-flex justify-content-center align-items-center">
                        <h1 id="navText"></h1>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <img th:src="@{/libled.jpg}" alt="libled">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Footer fragment  -->
<div th:fragment="footer">
    <div class="container fixed-bottom footer" >
        <div class="">
            <div class="container text-center">
                <div class="row text-start">
                    <div class="col" id="loorem">
                        <h3>Loorem</h3>
                    </div>
                    <div class="col" id="ipsum">
                        <h3>Ipsum</h3>
                    </div>
                    <div class="col" id="kontakt_1">
                        <h3>Kontakt</h3>
                    </div>
                    <div class="col" id="kontakt_2">
                        <h3 style="color: #414141 !important;"> . </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>