<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: navigation"></div>

<div>Parcisipants</div>

<!-- Заголовки и информация о мероприятии -->
<h1>Osavotjad</h1>
<p th:text="${eventName}"></p>
<p th:text="${eventTime}"></p>
<p th:text="${eventPlace}"></p>

<!-- Список участников -->
<h2>Osavotjad</h2>
<ul>
    <th:block th:each="participant, stat : ${participants}">
        <li>
            <span th:text="${stat.count}"></span>
            <span th:if="${participant instanceof T(com.example.IndividualParticipant)}" th:text="${participant.firstName + ' ' + participant.lastName}"></span>
            <span th:if="${participant instanceof T(com.example.CompanyParticipant)}" th:text="${participant.companyName}"></span>
            <span th:if="${participant instanceof T(com.example.IndividualParticipant)}" th:text="${participant.personalCode}"></span>
            <span th:if="${participant instanceof T(com.example.CompanyParticipant)}" th:text="${participant.companyRegCode}"></span>
            <a href="#" th:attr="data-id=${participant.id}" class="view">Vaata</a>
            <a href="#" th:attr="data-id=${participant.id}" class="delete">Kustuta</a>
        </li>
    </th:block>
</ul>

<!-- Форма для добавления участников -->
<h2>Osavotjate lisamine</h2>
<form action="/addParticipant" method="post">
    <input type="radio" id="individual" name="participantType" value="Individual">
    <label for="individual">Individual</label>
    <input type="radio" id="company" name="participantType" value="Company">
    <label for="company">Company</label>

    <!-- Поля для физического лица -->
    <div id="individualFields">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="personalCode" placeholder="Isikukood">
        <!-- ... -->
    </div>

    <!-- Поля для юридического лица -->
    <div id="companyFields">
        <input type="text" name="companyName" placeholder="Company Name">
        <input type="text" name="companyRegCode" placeholder="Company Reg Code">
        <!-- ... -->
    </div>

    <!-- Общие поля -->
    <select name="paymentMethod">
        <!-- Опции -->
    </select>
    <textarea name="additionalInfo" maxlength="1000"></textarea>

    <button type="submit">Salvesta</button>
    <a href="/backPage">Tagasi</a>
</form>


<div th:replace="fragments :: footer"></div>
</body>
</html>